.App {
  
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

textarea {
  display: block;
  background-color: #EEEEEE;
}
.anim {
  width: 200px;
  height: 200px;
  background-image: url("images/cat_idle.png");
  animation: play .8s steps(7) infinite;
  background-size: 700%;
}

@keyframes play {
   from { background-position:    0%; }
   to { background-position: -700%; }
}