@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');

@keyframes play {
   from { background-position:    0%; }
   to { background-position: -700%; }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background-color: black;
}

textarea {
  display: block;
}

.App {
  width: 100%;
  height: 100vh;
  font-family: 'Caveat Brush', Arial;
  font-size: 2em;
  position: relative;
  background-color: #fff1e8;
}

.App-header {
  background-color: #f9a978;
  padding-top: 10px;
  padding-bottom: 15px;
  height: 40px;
  color: white;
  text-align: center;
  font-size: 1em;

}

.App-intro {
  font-size: large;
}

.anim {
  width: 200px;
  height: 200px;
  background-image: url("images/cat_idle.png");
  animation: play .8s steps(7) infinite;
  background-size: 700%;
}

canvas {
  position: absolute;
  bottom: 1.5em;
}

.cat {
  width: 200px;
  height: 200px;
  background-image: url("images/cat_idle.png");
  background-size: 700%;
  position: absolute;
}

.cats {
  position: absolute;
  bottom: 1.5em;
  width: 100%;
  pointer-events: none;
  z-index: 10;
}

.cats.raised {
  bottom: 7.5em;
}

.imageResource {
  display: none;
}

.inlineBlock {
  display: inline-block;
}

.login {
  position: absolute;
  left: 15%;
  top: 25%;
  padding: 5%;
  width: 60%;
  height: 8em;
  background-color: #59595b;
  text-align: center;
  border-radius: 0.5em;
  color: white;
}

.login input {
  width: 60%;
  position: relative;
  left: 20%;
  height: 1em;
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
  border: none;
  display: block;
  font-size: 1em;
}

.login label {
  margin: 0.2 em 0em;
  padding: 0;
  width: 100%;
  height: 1em;
  display: block;
}

.message {
  border: solid 10px;
  border-image: url("images/ChatBubble.png") 30 repeat;
  font-size: 0.75em;
  display: inline-block;
}

.message.own {
  filter: hue-rotate(180deg);
}

.messageContainer.own {
  text-align: right;
}

.message span {
  background-color: #a1a38e;
  display: inline-block;
  max-width: 80vw;

  overflow-wrap: break-word;
  word-wrap: break-word;
  /* Adds a hyphen where the word breaks */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.sendMessageBar {
  position: absolute;
  bottom: 0em;
  width: 100%;
  height: 1.5em;
  overflow: hidden;
}

.sendMessageBar.raised {
  bottom: 6em;
  overflow: visible;
}

.sendMessageBar input {
  width: 65%;
  height: 100%;
  font-size: 1em;
  border: none;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

.sendMessageBar .stickerModeBtn {
  width: 10%;
  height: 100%;
  background-color: #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.sendMessageBar .stickerModeBtn:hover {
  cursor: pointer;
}

.stickerBtn {
  width: 6em;
  height: 6em;
  display: inline-block;
  margin-left: 0.1em;
  margin-top: 0.1em;
  background-size: 100%;
  cursor: pointer;
}

.stickerMenu {
  bottom: -6em;
  position: absolute;
  width: 100%;
  height: 6em;
  background-color: #ddd;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.stickerMenu.raised {
  bottom: 0em;
}

#chat {
  display: block;
  margin: 0% 4%;
  font-size: 0.75em;
  height: 60%;
  width: 94%;
  overflow-y: scroll;
}

#chat.raised {
  height: 30%;
}

#connect {
  width: 50%;
  height: 1.25em;
  border-radius: 0.5em;
  background-color: #353537;
  display: inline-block;
  display: inline-block;
}

#connect:hover {
  background-color: gray;
  cursor: pointer;
}

#send {
  vertical-align: middle;
  text-align: center;
  background-color: gray;
  margin: 0;
  height: 100%;
  width: 25%;
  border: none;
  display: inline-block;
  font-family: 'Caveat Brush', cursive;
  vertical-align: middle;
}

#send:hover {
  cursor: pointer;
}

@media (min-width: 900px) {
  html {
    width: 600px;
  }
}
