@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');

.App {
  background-color: #fff1e8;
  width: 100vw;
  height: 100vh;
  font-family: 'Caveat Brush', Arial;
}

.App-header {
  background-color: #f9a978;
  padding: 20px;
  height: 40px;
  color: white;
  text-align: center;
  font-size: 2em;
  
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

textarea {
  display: block;
  /*background-color: #EEEEEE;*/
}
.anim {
  width: 200px;
  height: 200px;
  background-image: url("images/cat_idle.png");
  animation: play .8s steps(7) infinite;
  background-size: 700%;
}

@keyframes play {
   from { background-position:    0%; }
   to { background-position: -700%; }
}

.sendMessageBar {
  position: fixed;
  bottom: 0px;
  width: 100vw; 
  height: 2em;
}

.sendMessageBar input {
  width: 68%; 
  height: 100%;
  font-size: 1em;
  border: none;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

.inputSpacer {
  vertical-align: middle;
  width: 2%;
  height: 100%;
  background-color: white;
  display: inline-block;
}

.inlineBlock {
  display: inline-block;
}

#send {
  vertical-align: middle;
  text-align: center;
  background-color: gray;
  margin: 0;
  height: 100%;
  width: 30%;
  border: none;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Caveat Brush', cursive;
  vertical-align: middle;
}

#send:hover {
  cursor: pointer;
}